*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem 2rem;
  text-align: center;
  font-size: la;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 2rem;
}
p {
  margin-bottom: 1rem;
  color: rgb(154, 153, 153);
}
img {
  height: 8rem;
  border-radius: 4px;
}
.loader {
  display: flex;
  margin-top: 2rem;
  align-items: center;
}

.bar {
  display: inline-block;
  width: 3px;
  height: 20px;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 10px;
  animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
  height: 35px;
  margin: 0 5px;
  animation-delay: .25s;
}

.bar:nth-child(3) {
  animation-delay: .5s;
}

@keyframes scale-up4 {
  20% {
    background-color: #ffff;
    transform: scaleY(1.5);
  }

  40% {
    transform: scaleY(1);
  }
}